* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (orientation: portrait) {
  .landscape-alert {
    display: flex;
    text-align: center;
    width: 90%;
    height: auto;
    font-size: 100%;
  }

  .book {
    display: none;
  }

  button {
    display: none;
  }
}

img {
  filter: brightness(80%);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

/* Overlay untuk zoom */
#image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}

#image-modal img {
  max-width: 90%;
  max-height: 90%;
}

/* Modal aktif */
#image-modal.show {
  visibility: visible;
  opacity: 1;
}

/* Content */

#bc1 {
  padding-left: 10%;
  padding-top: 4%;
  padding-bottom: 4%;
}

#c2 .front-cover {
  padding-right: 10%;
  padding-top: 4%;
  padding-bottom: 4%;
}

#bc1 .Container,
#c2 .Container {
  background-color: white;
  width: 100%;
  height: 100%;
}

#b1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#b1 img {
  width: 55%;
  height: 75%;
  position: absolute;
}

#b1 .container1 {
  width: 15%;
  height: 5%;
  position: absolute;
  top: 12%;
  left: 17%;
  background-color: white;
  opacity: 0.2;
  transform: rotate(135deg);
}

#b1 .container2 {
  width: 15%;
  height: 5%;
  position: absolute;
  bottom: 12%;
  right: 17%;
  background-color: white;
  opacity: 0.2;
  transform: rotate(135deg);
}

#f1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  font-size: calc(0.03 * var(--book-height));
  filter: brightness(100%);
  background-image: url(./assets/img/bg1.jpg);
  background-position: 80% 80%;
  color: White;
}
#f1 img {
  height: 40%;
  width: 30%;
  border: 2px solid white;
}

#b1 {
  background-image: url(./assets/img/bg1.jpg);
}

#f2 {
  background-image: url(./assets/img/bg1.jpg);
  background-position: 80% 30%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#f2 .text-content {
  width: 70%;
  height: 30%;
  font-size: calc(0.03 * var(--book-height));
  text-align: center;
}

#b2 {
  background-image: url(./assets/img/bg1.jpg);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#b2 h1 {
  margin-top: 7%;
  padding: 2%;
  border-radius: 20%;
  font-size: calc(0.05 * var(--book-height));
}

#b2 img {
  margin-top: 12%;
  width: 70%;
  height: 37%;
  border: 2px solid white;
  border-radius: 20px;
}

#b2 .text-content {
  font-size: calc(0.028 * var(--book-height));
  margin-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  display: inline-block;
  text-shadow: 0px 0px 14px white, 0px 0px 14px white;
  color: white;
}

#b2 a {
  color: white;
}

#f3 {
  background-image: url(./assets/img/bg1.jpg);
  background-position: 80% 80%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#f3 .Container {
  height: 100%;
  display: flex;
  margin-top: 15%;
  padding-left: 9%;
  padding-right: 9%;
  gap: 5%;
  justify-content: center;
  align-items: start;
}

#f3 img {
  width: 35%;
  height: 70%;
  border-radius: 20%;
  border: 2px solid white;
}

#f3 h1 {
  margin-top: 8%;
  text-decoration: underline wavy;
  text-underline-offset: 20%;
  font-size: calc(0.05 * var(--book-height));
}

#f3 .text-content {
  text-align: start;
  font-size: calc(0.028 * var(--book-height));
}

#b3,
#f4 {
  background-image: url(./assets/img/bg1.jpg);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

#f4 {
  background-position: 80% 80%;
  align-items: start;
}

#b3 h1 {
  margin-top: 10%;
  margin-right: 1%;
  font-size: calc(0.055 * var(--book-height));
}

#f4 h1 {
  margin-top: 10%;
  margin-left: 0.5%;
  font-size: calc(0.055 * var(--book-height));
}

#b3 .Container1,
#f4 .Container1 {
  margin-top: 10%;
  display: flex;
  height: 70%;
  align-items: center;
  justify-content: end;
  width: 100%;
}

#f4 .Container1 {
  justify-content: start;
}

#b3 .title,
#f4 .title {
  font-size: calc(0.027 * var(--book-height));
  color: white;
  position: absolute;
  text-shadow: 0px 0px 14px white, 0px 0px 14px white;
}

#b3 .title {
  left: 0;
  transform: rotate(270deg) translate(0%, -150%);
}

#f4 .title {
  right: 0;
  transform: rotate(90deg) translate(0%, -150%);
}

#b3 .Container2,
#f4 .Container2 {
  border: 2px solid white;
  border-radius: 10%;
  height: 60%;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#b3 .Container2 {
  border-right: none;
}

#f4 .Container2 {
  border-left: none;
}

#b3 iframe,
#f4 iframe {
  width: 80%;
  height: 60%;
  border-radius: 5%;
}

#b4 {
  background-image: url("/assets/img/bg1.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3%;
  color: white;
}

#b4 h1 {
  font-size: calc(0.05 * var(--book-height));
}

#b4 .Container1,
#b4 .Container2,
#b4 .Container3,
#b4 .Container4 {
  border: 1px solid white;
  border-radius: 20px;
  width: 80%;
  height: 18%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
}

#b4 a {
  height: 80%;
  width: 20%;
}

#b4 img {
  height: 100%;
  width: 100%;
}

#b4 .text-content {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#b4 .text-content h1 {
  font-size: calc(0.035 * var(--book-height));
}

#b4 .text-content p {
  font-size: calc(0.025 * var(--book-height));
}

#f5 {
  background-image: url("/assets/img/bg1.jpg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
}

#f5 .Container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 70%;
  width: 100%;
}

#f5 h1 {
  margin-top: 7%;
  font-size: calc(0.05 * var(--book-height));
}

#f5 iframe {
  width: 70%;
  height: 50%;
}

#f5 p {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 5%;
  font-size: calc(0.03 * var(--book-height));
}

#b5 {
  background-image: url("./assets/img/bg1.jpg");
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: white;
}

#b5 .Container1 {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 5%;
}

#b5 h1 {
  transform: rotate(270deg) translate(50%, -150%);
  font-size: calc(0.048 * var(--book-height));
}

#b5 .Container1 img {
  height: 85%;
  width: 30%;
  position: relative;
  right: 5%;
  border: 2px solid white;
  border-radius: 5%;
}

#b5 .Container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  height: 40%;
}

#b5 .Container2 img {
  height: 60%;
  width: 25%;
  position: relative;
  border-radius: 100%;
  border: 2px solid white;
}

#b5 .text-content {
  width: 50%;
  font-size: calc(0.02 * var(--book-height));
  text-align: start;
}

#f6 {
  background-image: url("./assets/img/bg1.jpg");
  background-position: 70% 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: start;
}

#f6 .Container1 {
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  gap: 10%;
  align-items: center;
  padding-left: 6%;
}

#f6 h1 {
  font-size: calc(0.038 * var(--book-height));
}

#f6 .text-content {
  font-size: calc(0.025 * var(--book-height));
  text-align: center;
}

#f6 .Container2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  right: 0;
  gap: 10%;
}

#f6 img {
  position: relative;
  width: 63%;
  height: 32%;
  border-radius: 100%;
  border: 2px solid white;
}

#b6 {
  background-image: url("/assets/img/bg1.jpg");
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

#b6 h1 {
  border: 2px solid white;
  font-size: calc(0.055 * var(--book-height));
  border-top: transparent;
  border-right: transparent;
  padding-left: 5%;
  padding-bottom: 5%;
  margin-top: 5%;
  padding-right: 1%;
  border-bottom-left-radius: 20%;
  text-shadow: 2px 2px 2px gray, -2px 2px 2px gray;
}

#b6 .Container1,
#b6 .Container2 {
  justify-content: space-between;
  margin-top: 7%;
  margin-right: 10%;
  width: 80%;
  height: 30%;
  display: flex;
  background-color: rgba(128, 128, 128, 0.468);
  border-radius: 5%;
  position: relative;
}

#b6 .text-content,
#f7 .text-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#b6 .Container1 .title,
#f7 .Container2 .title {
  padding-right: 2%;
  font-size: calc(0.035 * var(--book-height));
  position: absolute;
  top: 2%;
  left: 2%;
  border: 2px solid white;
  border-top: transparent;
  border-left: transparent;
}

#b6 p,
#f7 p {
  font-size: calc(0.028 * var(--book-height));
}

#b6 .Container2 .title,
#f7 .Container1 .title {
  padding-left: 2%;
  font-size: calc(0.035 * var(--book-height));
  position: absolute;
  top: 2%;
  right: 2%;
  border: 2px solid white;
  border-top: transparent;
  border-right: transparent;
}

#b6 img,
#f7 img {
  width: 40%;
  border-radius: 5%;
  border: 1px solid white;
}

#f7 {
  background-image: url("/assets/img/bg1.jpg");
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

#f7 h1 {
  font-size: calc(0.055 * var(--book-height));
  border: 2px solid white;
  border-top: transparent;
  border-left: transparent;
  padding-right: 5%;
  padding-bottom: 5%;
  margin-top: 5%;
  padding-left: 1%;
  border-bottom-right-radius: 20%;
  text-shadow: 2px 2px 2px gray, -2px 2px 2px gray;
}

#f7 .Container1,
#f7 .Container2 {
  justify-content: space-between;
  margin-top: 5%;
  margin-left: 10%;
  width: 80%;
  height: 30%;
  display: flex;
  background-color: rgba(128, 128, 128, 0.468);
  border-radius: 5%;
  position: relative;
}

#b7 {
  background-image: url(/assets/img/bg1.jpg);
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: white;
}

#b7 .Container1 {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  height: 100%;
  position: absolute;
}

#b7 .Container1 p {
  padding-right: 5%;
  width: 50%;
  text-align: start;
  margin-top: 15%;
  font-size: calc(0.027 * var(--book-height));
}

#b7 .Container1 h1 {
  font-size: calc(0.045 * var(--book-height));
  transform: rotate(315deg) translate(-30%, 110%);
  text-decoration: underline overline;
  text-underline-offset: 30%;
  text-shadow: 2px 2px 2px gray, -2px 2px 2px gray;
}

#b7 img {
  position: absolute;
  width: 22%;
  height: 22%;
  border-radius: 100%;
  border: 2px solid white;
}

#b7 .img1 {
  top: 40%;
  left: 12%;
}

#b7 .img2 {
  bottom: 10%;
  left: 27%;
}

#b7 .img3 {
  bottom: 23%;
  left: 60%;
}

#f8 {
  background-image: url(/assets/img/bg1.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#f8 .Container {
  width: 50%;
  height: 80%;
  padding: 2%;
  border: 2px solid white;
  border-radius: 10%;
}

#f8 video {
  position: absolute;
  width: 45%;
  height: 75%;
  border: 2px solid white;
}

#b8 {
  background-image: url(/assets/img/bg1.jpg);
  background-position: 50% 10%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 4%;
  color: white;
}

#b8 .Container1 {
  display: flex;
  width: 100%;
  height: 45%;
  justify-content: center;
  gap: 5%;
  border-bottom: 2px solid white;
}

#b8 .line {
  height: 100%;
  width: 2px;
  background-color: white;
}

#b8 .Container1 .box1,
#b8 .Container1 .box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95%;
  width: 40%;
  gap: 5%;
}

#b8 .Container1 img {
  width: 60%;
  height: 60%;
  border: 1px solid white;
  border-radius: 2px;
}

#b8 .Container1 h1 {
  font-size: calc(0.045 * var(--book-height));
}

#b8 .Container1 p {
  font-size: calc(0.025 * var(--book-height));
}

#b8 .title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12%;
  border-bottom: 2px solid white;
}

#b8 .title h1 {
  font-size: calc(0.05 * var(--book-height));
}

#b8 .Container2,
#f9 .Container1,
#f9 .Container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 43%;
  gap: 8%;
}

#b8 .Container2 img,
#f9 img {
  width: 36%;
  height: 80%;
  border-radius: 100%;
  border: 1px solid white;
}

#b8 .Container2 h1,
#f9 h1 {
  font-size: calc(0.045 * var(--book-height));
}

#b8 .Container2 p,
#f9 p {
  margin-top: 2%;
  font-size: calc(0.02 * var(--book-height));
}

#f9 {
  background-image: url("/assets/img/bg1.jpg");
  background-position: 50% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4% 5%;
  color: white;
  gap: 5%;
}

#f9 .Container1 .text-content {
  margin-left: 5%;
}

#b9 {
  background-image: url("/assets/img/bg1.jpg");
  background-position: 50% 80%;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 4%;
}

#b9 .Container1 {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid white;
}

#b9 h1 {
  font-size: calc(0.05 * var(--book-height));
}

#b9 .Container1 .text-content {
  margin-top: 4%;
  display: flex;
  width: 100%;
  height: 100%;
}

#b9 .Container1 img {
  width: 50%;
  height: 80%;
  border: 2px solid white;
  border-radius: 20%;
}

#b9 .Container1 p {
  margin-left: 4%;
  font-size: calc(0.02 * var(--book-height));
  margin-top: 4%;
}

#b9 .Container2 {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  padding: 4%;
}

#b9 .Container2 img {
  width: 45%;
  height: 85%;
  border-radius: 20px;
  border: 2px solid white;
}

#b9 .Container2 p {
  margin-top: 4%;
  margin-right: 4%;
  font-size: calc(0.02 * var(--book-height));
}

#f10 {
  background-image: url("/assets/img/bg1.jpg");
  background-position: 80% 10%;
}

#f10 img {
  border-radius: 20px;
  position: absolute;
  border: 2px solid white;
}

#f10 .img1 {
  height: 30%;
  width: 30%;
  left: 10%;
  top: 7%;
}

#f10 .img2 {
  height: 40%;
  width: 30%;
  right: 10%;
  top: 30%;
}

#f10 .img3 {
  border-radius: 20px;
  height: 40%;
  width: 30%;
  position: absolute;
  left: 15%;
  bottom: 7%;
}

#b10 {
  background-image: url("/assets/img/bg1.jpg");
  background-position: 60% 30%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: white;
}

#b10 h1 {
  margin-top: 5%;
  font-size: calc(0.05 * var(--book-height));
  text-decoration: underline;
  text-underline-offset: 20%;
}

#b10 .Container1 {
  width: 100%;
  height: 40%;
  margin-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  align-items: center;
  font-size: calc(0.025 * var(--book-height));
  text-align: center;
}

#b10 .Container1 p {
  padding-right: 8%;
  margin-bottom: 15%;
}

#b10 .Container1 img {
  width: 35%;
  height: 90%;
  border-radius: 50px;
  border: 2px solid white;
}

#b10 .Container2 {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  gap: 16%;
  height: 50%;
}

#b10 .Container2 .img1 {
  width: 25%;
  height: 80%;
  border-radius: 20px;
  border: 2px solid white;
  margin-top: 2%;
}

#b10 .Container2 .img2 {
  width: 25%;
  height: 60%;
  border-radius: 100%;
  margin-top: 13%;
  border: 2px solid white;
}

#f11 {
  background-image: url("/assets/img/bg1.jpg");
  background-position: 40% 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4% 5%;
  color: white;
  gap: 5%;
}

#f11 .Container1,
#f11 .Container2 {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

#f11 img {
  height: 95%;
  width: 32%;
  border: 2px solid white;
  border-radius: 20px;
}

#f11 video {
  height: auto;
  width: 50%;
  border: 2px solid white;
  border-radius: 20px;
}

#f11 h1 {
  font-size: calc(0.055 * var(--book-height));
}

#f11 p {
  width: 50%;
  font-size: calc(0.025 * var(--book-height));
  text-align: right;
}

#b11 {
  background-image: url("/assets/img/bg1.jpg");
  background-position: 10% 80%;
  display: flex;
  padding: 4% 5%;
  color: white;
}

#b11 .Container1 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

#b11 .Container2 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5%;
}

#b11 img {
  width: 50%;
  height: 35%;
  border-radius: 100%;
  border: 2px solid white;
}

#b11 h1 {
  position: absolute;
  top: 15%;
  font-size: calc(0.055 * var(--book-height));
}

#b11 p {
  font-size: calc(0.025 * var(--book-height));
  width: 100%;
  height: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  border-left: transparent;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-right: 2%;
}

#f12 {
  background-image: url("/assets/img/bg1.jpg");
  background-position: 80% 70%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: white;
  padding: 4% 5%;
}

#f12 .Container1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 45%;
  gap: 5%;
}

#f12 .Container1 .box {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  height: 70%;
  gap: 10%;
}

#f12 .Container1 h1,
#f12 .Container2 h1 {
  font-size: calc(0.05 * var(--book-height));
}

#f12 .Container1 img {
  width: 30%;
  height: 100%;
  border: 2px solid white;
  border-radius: 20px;
}

#f12 .Container1 p {
  font-size: calc(0.03 * var(--book-height));
  margin-bottom: 10%;
  padding-right: 10%;
}

#f12 .line {
  width: 100%;
  height: 2px;
  background-color: white;
  margin-top: 5%;
}

#f12 .Container2 {
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}

#f12 .Container2 .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  gap: 5%;
}

#f12 .Container2 img {
  height: 60%;
  width: 45%;
  border: 2px solid white;
  border-radius: 20px;
}

#f12 .Container2 p {
  font-size: calc(0.022 * var(--book-height));
  text-align: start;
}

#b12 {
  background-image: url("/assets/img/bg1.jpg");
  background-position: 50% 80%;
  padding: 4% 5%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#b12 .Container1 {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: 100%;
  gap: 5%;
  position: relative;
}

#b12 .Container1 .box {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 2%;
  justify-content: center;
  align-items: start;
  gap: 10%;
}

#b12 .Container1 .text-content {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 5%;
}

#b12 .Container1 p {
  font-size: calc(0.02 * var(--book-height));
  text-align: start;
}

#b12 .Container1 h1 {
  font-size: calc(0.045 * var(--book-height));
}

#b12 .Container1 img {
  width: 30%;
  height: 35%;
  margin-top: 2%;
  border: 2px solid white;
  border-radius: 20px;
}

#b12 .Container1 video {
  width: 35%;
  height: auto;
  border: 2px solid white;
  border-radius: 20px;
  position: absolute;
  right: 5%;
  bottom: 10%;
}

#b12 .line {
  position: absolute;
  width: 44.5%;
  height: 10%;
  right: 0%;
  bottom: 0%;
  border-bottom: 2px solid white;
}

#b12 .Container2 {
  width: 50%;
  height: 62%;
  position: absolute;
  bottom: 4%;
  left: 5%;
  border: 2px solid white;
  border-left: transparent;
  border-bottom: transparent;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2%;
}

#b12 .Container2 img {
  width: 70%;
  height: 38%;
  margin-top: 4%;
  border: 2px solid white;
  border-radius: 20px;
}

#b12 .Container2 h1 {
  font-size: calc(0.045 * var(--book-height));
}

#b12 .Container2 p {
  padding-left: 4%;
  padding-right: 8%;
  text-align: center;
  font-size: calc(0.02 * var(--book-height));
}

#f13 {
  background-image: url("/assets/img/bg1.jpg");
  background-position: 60% 70%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 4% 5%;
  color: white;
}

#f13 h1 {
  font-size: calc(0.055 * var(--book-height));
  text-decoration: underline wavy;
  text-underline-offset: 25%;
}

#f13 .Container1,
#f13 .Container2,
#f13 .Container3 {
  width: 100%;
  height: 28%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 2px solid white;
  border-radius: 20px;
}

#f13 .Container1 {
  margin-top: 8%;
}

#f13 .Container2 {
  border-right: transparent;
  border-left: 2px solid white;
}

#f13 p {
  font-size: calc(0.025 * var(--book-height));
  width: 50%;
  margin-right: 5%;
}

#f13 .Container2 p {
  margin-right: 0%;
  margin-left: 5%;
}

#f13 img {
  border: 2px solid white;
  border-radius: 20%;
  width: 25%;
  height: 90%;
  margin-left: 15%;
}

#f13 .Container2 img {
  margin-left: 0%;
  margin-right: 15%;
}

#b13 {
  background-image: url("/assets/img/bg1.jpg");
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: white;
  padding: 4% 5%;
}

#b13 h1 {
  font-size: calc(0.05 * var(--book-height));
}

#b13 .Container1 {
  margin-top: 5%;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#b13 .Container1 img {
  width: 30%;
  height: 90%;
  border-radius: 20%;
  border: 2px solid white;
}

#b13 .Container1 p {
  font-size: calc(0.025 * var(--book-height));
  text-align: start;
  width: 50%;
  margin-left: 10%;
}

#b13 .Container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
}

#b13 .Container2 .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 3% 0%;
}

#b13 .Container2 p {
  font-size: calc(0.025 * var(--book-height));
  text-align: start;
  margin-left: 10%;
  width: 50%;
}

#b13 .Container2 img {
  width: 50%;
  height: 45%;
  border: 2px solid white;
  border-radius: 100%;
}

#f14 {
  background-image: url("/assets/img/bg1.jpg");
  background-position: 50% 10%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: white;
  padding: 4% 5%;
}

#f14 .Container1 {
  width: 100%;
  height: 44%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#f14 .Container1 img {
  width: 40%;
  height: 90%;
  border: 2px solid white;
  border-radius: 100%;
}

#f14 .box {
  width: 55%;
  padding-left: 5%;
}

#f14 .Container1 h1 {
  font-size: calc(0.05 * var(--book-height));
}

#f14 .Container1 p {
  margin-top: 2%;
  font-size: calc(0.025 * var(--book-height));
  text-align: start;
}

#f14 .Container2 {
  margin-top: 5%;
  padding-left: 5%;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10%;
}

#f14 .Container2 p {
  font-size: calc(0.035 * var(--book-height));
}

#f14 .Container2 video {
  width: 70%;
  height: 70%;
  border: 2px solid white;
  border-radius: 20px;
}

#b14 {
  background-image: url("/assets/img/bg1.jpg");
  display: flex;
  flex-direction: column;
  padding: 4% 5%;
  justify-content: start;
  color: white;
}

#b14 .Container1 {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5%;
}

#b14 .Container1 .box {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10%;
}

#b14 .Container1 h1 {
  font-size: calc(0.045 * var(--book-height));
}

#b14 .Container1 p {
  margin-top: 5%;
  font-size: calc(0.025 * var(--book-height));
  text-align: start;
  width: 40%;
  padding-right: 5%;
}

#b14 .Container1 img {
  width: 50%;
  height: auto;
  border: 2px solid white;
  border-radius: 20px;
}

#b14 .Container2 {
  width: 100%;
  height: 55%;
  border-top: 2px solid white;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

#b14 .Container2 img {
  width: 30%;
  height: 70%;
  border: 2px solid white;
  border-radius: 20px;
}

#b14 .Container2 .box {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5%;
}

#b14 .Container2 h1 {
  font-size: calc(0.04 * var(--book-height));
}

#b14 .Container2 p {
  font-size: calc(0.02 * var(--book-height));
}

#f15 {
  background-image: url("/assets/img/bg1.jpg");
  background-position: 70% 60%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: white;
  padding: 4% 5%;
}

#f15 .Container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55%;
  gap: 10%;
  padding-bottom: 5%;
  border-bottom: 2px solid white;
  border-radius: 10%;
}

#f15 .Container1 video {
  width: 35%;
  height: auto;
  border: 2px solid white;
  border-radius: 20px;
}

#f15 .Container1 p {
  width: 40%;
  font-size: calc(0.02 * var(--book-height));
  text-align: start;
}
#f15 .Container2{
  width: 100%;
  height: 35%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-left: 5%;
}

#f15 .Container2 h1{
  font-size: calc(0.045 * var(--book-height));
}

#f15 .Container2 .box{
width: 100%;
height: 70%;
display: flex;
justify-content: start;
align-items: center;
}

#f15 .Container2 p{
  font-size: calc(0.02 * var(--book-height));
  width: 50%;
}

#f15 .Container2 img{
  margin-left: 5%;
  width: 40%;
  height: 100%;
  border: 2px solid white;
  border-radius: 100%;
}

#b15{
  background-image: url("/assets/img/bg1.jpg");
  background-position: 50% 80%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: white;
  padding: 4% 5%;
  gap: 5%;
}

#b15 h1{
  font-size: calc(0.05 * var(--book-height));
}

#b15 .Container1{
  margin-top: 3%;
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 10%;
}

#b15 .Container1 img{
  width: 40%;
  height: auto;
  border: 2px solid white;
  border-radius: 20%;
}

#b15 p{
  text-align: start;
  font-size: calc(0.025 * var(--book-height));
  width: 40%;
}

#b15 .Container2 p{
  margin-left: 10%;
}

#b15 .Container2{
  position: absolute;
  width: 90%;
  height: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 5%;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 20%;
}


#b15 .Container2 img{
  width: 30%;
  height: auto;
  border: 2px solid white;
  border-radius: 20px;
  margin-right: 10%;

}

#f16{
  background-image: url("/assets/img/bg1.jpg");
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#f16 .Container1{
  border-bottom: 2px solid white;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 45%;
  height: 55%;
  top: 4%;
  left: 5%;
  border-radius: 20px;
}

#f16 .Container1 h1{
  font-size: calc(0.04 * var(--book-height));
}

#f16 .Container1 p{
  margin-top: 5%;
  font-size: calc(0.022 * var(--book-height));
  padding-right: 4%;
  margin-left: 4%;
}

#f16 .Container2{
  position: absolute;
  width: 45%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 4%;
  right: 5%;
}

#f16 .Container2 img{
  width: 70%;
  height: 90%;
  border: 2px solid white;
  border-radius: 100%;
}

#f16 .Container3{
  position: absolute;
  width: 45%;
  height: 37%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 4%;
  left: 5%;
}

#f16 .Container3 img{
  width: 80%;
  height: 80%;
  border: 2px solid white;
  border-radius: 100%;
}

#f16 .Container4{
  border-top: 2px solid white;
  border-radius: 20px;
  position: absolute;
  width: 45%;
  height: 57%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  bottom: 4%;
  right: 5%;
}

#f16 .Container4 h1{
  margin-top: 5%;
  font-size: calc(0.04 * var(--book-height));
}

#f16 .Container4 p{
  padding-left: 4%;
  margin-top: 5%;
  font-size: calc(0.0205 * var(--book-height));
  margin-right: 4%;
}

#b16{
  background-image: url("/assets/img/bg1.jpg");
  background-position: 20% 80%;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 4% 5%;
  justify-content: start;
  align-items: center;
}

#b16 h1{
  font-size: calc(0.04 * var(--book-height));
  text-decoration: underline;
  text-underline-offset: 5%;
}

#b16 img{
  margin-top: 5%;
  width: 25%;
  height: auto;
  border: 2px solid white;
  border-radius: 100%;
}

#b16 .Container{
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#b16 p{
  margin-top: 3%;
  font-size: calc(0.015 * var(--book-height));
  width: 70%;
  text-align: center;
}

#b16 .box1{
  width: 40%;
  height: 60%;
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: end;
  padding: 3%;
  bottom: 5%;
  left: 8%;
  border: 2px solid white;
  border-top: transparent;
  border-right: transparent;
  border-radius: 20px;
}

#b16 .box2{
  width: 40%;
  height: 60%;
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 3%;
  bottom: 5%;
  right: 8%;
  border: 2px solid white;
  border-top: transparent;
  border-left: transparent;
  border-radius: 20px;
}

#b16 video{
  width: 75%;
  height: auto;
}

/* Design */

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  perspective: 1000px;
}

.book {
  width: 39vw;
  height: 83vh;
  position: relative;
  transition: transform 0.5s;
}

.front-cover,
.back-cover,
.front,
.back {
  background-color: #181c14;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: white;
  transform-origin: left;
  transition: transform 0.8s;
}

/* .front,
.back {
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.7);
} */

.front-cover,
.back-cover {
  box-shadow: 4px 2px 9px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 2px 9px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 2px 9px 0px rgba(0, 0, 0, 0.75);
}

.cover {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  perspective: 1500px;
}

.paper {
  height: 98%;
  width: 99%;
  position: absolute;
  top: 1%;
  perspective: 1500px;
  font-family: "Patrick Hand", cursive;
}

/* Paper Flipped */
.flipped .front,
.flipped .back,
.flipped .front-cover,
.flipped .back-cover {
  transform: rotateY(-180deg);
  transition: transform 0.8s;
}

.front-cover,
.front {
  z-index: 1;
  backface-visibility: hidden;
}

.back-cover,
.back {
  z-index: 0;
}

.front-cover-content,
.back-cover-content,
.front-content,
.back-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.front-content,
.back-content {
  background-color: white;
  color: black;
}

.back-content,
.back-cover-content {
  transform: rotateY(180deg);
}

button {
  border: none;
  background-color: transparent;
  margin: 2%;
  cursor: pointer;
  transition: transform 0.5s;
}

button:focus {
  outline: none;
}

button:hover i {
  color: rgb(144, 144, 144);
}

i {
  font-size: 50px;
  color: rgb(41, 41, 41);
}
